@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* Světle zelená */
}
header, footer {
    font-family: 'Roboto', sans-serif;
    background-color: #a5d6a7; /* Světle zelená */
    color: white;
    text-align: center;
    padding: 1em 0;
    position: relative; /* Pro umístění obrázku */
}
header {
    height: 100px;
}
header h1 {
    position: relative;
    z-index: 1; /* Zajistí, že h1 bude před obrázkem */
    text-shadow: 2px 2px 5px #000000; /* Jednoduchý stín kolem textu */
}
header img {
    height: 132px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-top-right-radius: 50px; /* Zaoblení pravého horního rohu */
    border-bottom-right-radius: 50px; /* Zaoblení pravého dolního rohu */
    z-index: 0; /* Zajistí, že obrázek bude za h1 */
}
nav {
    background-color: #c8e6c9; /* Světle zelená */
    color: white;
    text-align: center;
    padding: 0.5em 0;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap; /* Zabrání přetečení na další řádek */
}
nav a {
    color: white;
    margin: 0 0.5em;
    text-decoration: none;
    padding: 4px;
    outline: 2px solid #a5d6a7; /* Kulatá outline */
    border-radius: 70px; /* Kulatý tvar */
    background-color: rgb(133, 235, 133);
    white-space: nowrap; /* Zabrání zalomení textu */
    text-shadow: 1px 1px 3px #000000; /* Jednoduchý stín kolem textu */
}
.vybrano {
    background-color: rgb(85, 190, 71);
}
.container {
    padding: 2em;
}
.tabulka1 {
    max-width: 500px;
    background-color: #ffffff;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
}
.tabulka1 h3,.tabulka1 h2,.tabulka1 p{
    background-color: #ffffff;
    padding: 5px;
    padding-left: 10px;
}
.h1,h2{
    color: rgb(123, 255, 123);
    text-shadow: 1px 1px 2px black;
    justify-content: center;
}
.tabulka2 {
    margin-top: 20px;
    background-color: #ffffff;
    max-width: 500px;
    display: block;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.tabulka2 img{
    max-width: 500px;
    width: 100%;
}
.tabulka2 h3{
    text-align: center;
}
.tabulka2 h3,.tabulka2 h2,.tabulka2 p{
    background-color: #ffffff;
    padding: 5px;
    padding-left: 10px;
}
/*-----------otevirani-----------*/
.expandable {
    cursor: pointer;
}
.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}
.content p {
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}
.content.show {
    max-height: 500px; /* Adjust this value based on your content's height */
}
.content.show p {
    transform: translateX(0);
    opacity: 1;
}
/*-----------šipka-----------*/

.expandable {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.expandable .arrow {
    transition: transform 0.3s;
    margin-right: 3px;
}

.expandable.active .arrow {
    transform: rotate(90deg);
}



.content.show {
    max-height: 200px; /* Adjust this value based on your content's height */
    transition: max-height 0.5s ease-in;
}
/*-----------konec-----------*/
.eutanasie{
    text-shadow: 0px 0px 0px;
    color: black;
}
h4{
    padding: 5px;
    padding-left: 10px;
}
.preklik{
    text-decoration: dotted underline;
    color: rgb(86, 250, 86);
    text-shadow: 1px 1px 3px black;
}
