a {
    font-size: 30px;
    /* Nastaví velikost písma */
    color: blue;
    /* Nastaví barvu textu */
    display:
    /* Flexibilní uspořádání */
    justify-content: center;
    /* Horizontální zarovnání na střed */
    text-align: center;
    /* Zarovnání na střed */
    padding: 20px;
  }
    /* Navigační lišta */
nav {
  position: fixed;
  /* Fixní pozice na obrazovce */
  width: 100%;
  /* Celá šířka obrazovky */
  display: flex;
  /* Flexibilní uspořádání */
  justify-content: center;
  /* Horizontální zarovnání na střed */
  z-index: 2;
  /* Umístění nad většinou obsahu */
  padding: 
}